<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Nouvelle Saisie</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="dates" class="form-label">Date</label>
            <input type="date" class="form-control" id="dates" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="sites" class="form-label">Sites</label>
            <input type="text" class="form-control" id="sites">
          </div>
          <div class="mb-3">
            <label for="articles" class="form-label">Articles</label>
            <input type="text" class="form-control" id="articles">
          </div>
          <div class="mb-3">
            <label for="montant" class="form-label">Montant</label>
            <input type="text" class="form-control" id="montant">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Catégorie</label>
            <input type="text" class="form-control" id="exampleInputPassword1">
          </div>
          <button type="submit" class="btn btn-primary">Enregistrer</button>
        </form>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
      </div>

    </div>
  </div>
</div>

